/* Masonry Component
===================================================================================================================== */

.masonrycomponent {
  
  .masonry-grid {
    
    .masonry-grid-item {
      
      a {
        display: block;
      }
      
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      
    }
    
  }
  
}
