/* Masonry Component Styles
===================================================================================================================== */

.masonrycomponent {
  
  .items {
    
    > article.item {
      
      width: 100%;
      
      > div.image {
        
        img {
          width: 100%;
          height: auto;
          display: block;
        }
        
      }
      
      > section.content {
        
        header > * {
          font-size: inherit;
        }
        
      }
      
    }
    
  }
  
}
