/* Masonry Component Styles
===================================================================================================================== */

.masonrycomponent {
  
  .items {
    
    > article.item {
      
      width: 100%;
      
      > div.image {
        
        img {
          width: 100%;
          margin: 0;
          padding: 0;
          height: auto;
          display: block;
        }
        
      }
      
      > section.content {
        
        div.details > span {
          display: block;
          margin-right: 0;
          margin-bottom: $spacer-quarter;
        }
        
      }
      
    }
    
  }
  
}
